.container
{
	height: 100vh;
	margin-top: 200px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
}
.container .glide .glide__track .glide__slides .glide__slide{
	text-align: center;
}
.container .glide .glide__track .glide__slides .glide__slide img{
	border-radius: 10px;
}